
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="resource/materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Contato</title>
    </head>

    <body>
        
            <!-- Page Content goes here -->
            
        <!-- NavBar -->
        <nav>
                <div class="nav-wrappe container">
                    <div class="row">
                      <a href="#" class="brand-logo">Logo</a>
                      <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="products.html">Produtos</a></li>
                        <li><a href="contact.html">Contato</a></li>
                        <li>
                            <a href="/login" class="waves-effect waves-light btn orange z-depth-1">Login</a>
                            <a href="/create" class="waves-effect waves-light btn light-blue accent-2">Cadastra-se</a>
                        </li>            
                      </ul>
      
                    </div>
                </div>
      
              </nav>
      
              <!-- Promoção -->
              <img src="resource/materialize/img/promocao-720x200.png" width="100%" height="100%">
      
