<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Lista de Produtos
          </h1>
        </section>
        
        <!-- Main content -->
        <section class="content">
        
          <div class="row">
              <div class="col-md-12">
                  <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Editar Produto</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" action="/admin/product/{$product.id_product}" method="post">
                  <div class="box-body">
                    
                    

                    <div class="form-group">
                      <label for="provider">Fornecedor</label>
                      <select class="form-control" name="id_provider" id="provider">

                          {if="empty($product.id_provider)"}
                          <option value="NULL">Sem marca</option>
                          {else}
                          <option value="{$product.id_provider}">{$k = $product.id_provider - 1}{$provider.$k.name_provider} </option>
                          {/if}
                        
                        {loop="$provider"}
                        <option value='{if="!empty($provider)"}{$value.id_provider}{else}NULL{/if}'>{if="!empty($provider)"}{$value.name_provider}{else}Sem fornecedor{/if}</option>                    
                        {/loop}
                        
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="brand">Marca</label>
                      <select class="form-control" name="id_brand" id="brand">
                        {if="empty($product.id_brand)"}
                        <option value="NULL">Sem marca</option>
                        {else}
                        <option value="{$product.id_brand}">{$k = $product.id_brand - 1}{$brand.$k.name_brand} </option>
                        {/if}
                        {loop="$brand"}
                        <option value="{$value.id_brand}">{$value.name_brand}</option>                    
                        {/loop}
                     
                      </select>
                    </div>
                    
                    <div class="form-group">
                      <label for="type">Tipo</label>
                      <select class="form-control" name="id_type" id="type">

                          {if="!empty($product.id_type)"}
                          <option value="{$product.id_type }">{$k = $product.id_type - 1}{$type.$k.name_type} </option>
                          {else}
                          <option value="NULL">Sem tipo</option>
                          {/if}
                        {loop="$type"}
                        <option value="{$value.id_type}">{$value.name_type}</option>                    
                        {/loop}
                     
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="desperson">Nome</label>
                      <input type="text" class="form-control" id="desperson" name="name_product" placeholder="Digite o nome" value="{$product.name_product}">
                    </div>
                    <div class="form-group">
                      <label for="value">Valor</label>
                      <input type="text" class="form-control" id="value" name="value" placeholder="Digite o login"  value="{$product.value}">
                    </div>
                    <div class="form-group">
                      <label for="value_cost">Valor Custo</label>
                      <input type="tel" class="form-control" id="value_cost" name="value_cost" placeholder="Digite o telefone"  value="{$product.value_cost}">
                    </div>
                    <div class="form-group">
                      <label for="amount">Quantidade</label>
                      <input type="number" class="form-control" id="" name="amount" placeholder="Digite a quantidade de produtos" value="{$product.amount}">
                    </div>
                    
                  </div>
                  <!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                  </div>
                </form>
              </div>
              </div>
          </div>
        
        </section>
        <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
